.App {
  /* text-align: center; */
}

.App .darklight-reference {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background: #fff !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.darklight-reference {
  display: none !important;
}

.api-segment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
}

.api-segment span {
  /* font-size: 16px; */
  font-weight: bold;
  margin-right: 12px;
}

.scalar-app {
  /* max-height: 70vh !important; */
  max-height: calc(100vh - 190px) !important;
  min-height: 0 !important;
  overflow: scroll;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border: 1px solid #ddd;
  border-radius: 12px;
}

.scalar-api-client {
  max-height: 100vh !important;
  border-radius: 0;
}

.demo-logo {
  font-weight: bold;
  font-size: 18px;
  display: flex;
}

.sidebar {
  /* max-height: 70vh; */
  max-height: calc(100vh - 190px) !important;
}

.references-navigation-list {
  height: auto !important;
  min-height: calc(100vh - 190px);
}


@media screen and (max-width: 992px) {
 
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 24px 0;
  }

  .scalar-app {
    max-height: calc(100vh - 425px) !important;
  }

  .ant-layout-content {
    padding: 0 12px !important;
    max-width: calc(100vw);
  }

  .ant-layout-footer {
    max-width: 99vw !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
}